.header img {
    width: 300px;
}
.header {
    text-align: center;
}
.header nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;

}
nav a:hover {
    background-color: gray;
}